<head>
  <title>Search Form</title>
</head>
<body>
<h1>Search Form</h1>
</body>
<form>
  <label for="country">Country:</label><br>
  <input type="text" id="country" name="country"><br>
  <label for="currency">Currency:</label><br>
  <input type="text" id="currency" name="currency"><br>
  <label for="locale">Locale:</label><br>
  <input type="text" id="locale" name="locale"><br>
  <label for="originplace">Origin Place:</label><br>
  <input type="text" id="originplace" name="originplace"><br>
  <label for="destinationplace">Destination Place:</label><br>
  <input type="text" id="destinationplace" name="destinationplace"><br>
  <label for="outboundpartialdate">Outbound Partial Date:</label><br>
  <input type="text" id="outboundpartialdate" name="outboundpartialdate"><br>
  <label for="inboundpartialdate">Inbound Partial Date:</label><br>
  <input type="text" id="inboundpartialdate" name="inboundpartialdate">
    </form>
<p>Please make sure all input is valid before submitting!</p>

<input type="submit">
<p>{{resultlength}}</p>
<tr *ngFor="let places of flightsResponse">
  <td>{{places.place.country }}</td>
</tr>
