<h1>About this Web Application</h1>
<p>In this simple web application, you can search for the cheapest flights connecting two destinations, using results from Skyscanner.<br>
  All you need to do is go to the SEARCH tab and add the information needed.</p><br>
<h1>Disclaimer</h1>
<ul>
  <li>This simple Web Application was created by Marios Pappas as his Semester Assignement<br>
  for the Internet and Applications Course of the 8th Semester. This is a test application and should not be used<br>
    for travel planning purposes.</li>

<li>All results provided are property of Skyscanner and the respective Airlines.</li>

<li>The author does not  bear any responsibility for wrong information. Please use with your own Responsibility.<br>
Before travelling, consult with your airline to make sure the information you found is valid.</li>
</ul>
